//parameter
$imgSpacename: ""; //图片地址空间
$contentColor: #666; //页面内容文字颜色
$mainColor: #e95b20; //主要颜色
$contentBgcolor: #e3e3e3; //颜色类的定义
$borderColor: #d1d1d1; //边框颜色
$placeholderColor: #d1d1d1; //placeholder提示颜色
$headerHeight: 2.2rem; //头部高度
$headerBgColor: #fff; //头部背景色
$headerFontColor: #333; //头部文字颜色

/////////////底部高度
$footerHeight:2.5rem;

$jstMainColor: #ea5920; //公众号激活颜色
$jstBorderColor: #d1d1d1; //公众号边框颜色
$tipColor878787: #878787;
$tipBgColorf4f4f4: #f4f4f4;
$color000: #000;
$colorfff: #fff;
$color333: #333;
$color666: #666;
$color999: #999;
$colorccc: #ccc;
$colorf29d79:#f29d79;
$colorff5a4e: #ff5a4e;

//字体大小类的定义
$fontSize10: 0.5rem;
$fontSize11: 0.55rem;
$fontSize12: 0.6rem;
$fontSize13: 0.65rem;
$fontSize14: 0.7rem;
$fontSize15: 0.75rem;
$fontSize16: 0.8rem;
$fontSize17: 0.85rem;
$fontSize18: 0.9rem;
$fontSize19: 0.95rem;
$fontSize20: 1rem;
$fontSize24: 1.2rem;
$fontSize26: 1.3rem;
$fontSize30: 1.5rem;
$fontSize40: 2rem;

//长宽高单位的定义
$length2: 0.1rem;
$length3: 0.15rem;
$length4: 0.2rem;
$length5: 0.25rem;
$length8: 0.4rem;
$length9: 0.45rem;
$length10: 0.5rem;
$length11: 0.55rem;
$length12: 0.6rem;
$length13: 0.65rem;
$length14: 0.7rem;
$length15: 0.75rem;
$length16: 0.8rem;
$length17: 0.85rem;
$length18: 0.9rem;
$length19: 0.95rem;
$length20: 1rem;
$length22: 1.1rem;
$length24: 1.2rem;
$length25: 1.25rem;
$length26: 1.3rem;
$length28: 1.4rem;
$length30: 1.5rem;
$length32: 1.6rem;
$length35: 1.75rem;
$length38: 1.9rem;
$length40: 2rem;
$length42: 2.1rem;
$length44: 2.2rem;
$length45: 2.25rem;
$length50: 2.5rem;
$length55: 2.75rem;
$length60: 3rem;
$length70: 3.5rem;
$length74: 3.7rem;
$length75: 3.75rem;
$length90: 4.5rem;
$length100: 5rem;
$length110: 5.5rem;
$length120: 6rem;
$length130: 6.5rem;
$length140: 7rem;
$length180: 9rem;
$length210: 10.5rem;
$length260: 13rem;

$maxwidth: 32rem;

///////////////////////////////图标变量
$iconHeight: 1rem; //一般小图标高度

//右边箭头
$iconRightHeight: 0.65rem;
$iconRightWidth: 0.35rem;

//右边箭头加粗
$iconRightBoldHeight: 0.75rem;
$iconRightBoldWidth: 0.4rem;

//问号
$iconAskHeight: 0.8rem;
$iconAskWidth: 0.8rem;

//右上角关闭图标
$iconCloseHeight: 0.75rem;
$iconCloseWidth: 0.75rem;


//支付方式卡列表选中状态图标
$iconPayWaySelectedHeight: 0.6rem;
$iconPayWaySelectedWidth: 0.7rem;

//加号
$iconAddHeight: 1rem;
$iconAddWidth: 1rem;