@import '../base/param';
@import "../layout/header";
@import "../sprite/sprite";
@import "../layout/input";

.input-cell {
    margin: $length40 $length24 0;
    .mui-input-row {
        text-align: center;
        margin-bottom: $length20;
    }
    input {
        border: none;
        background: none;
        border-radius: 0;
        padding: 0 2rem 0 0;
        margin-bottom: 0;
    }
    .input-title {
        text-align: left;
        color: $color666;
    }

    .input-tips {
        display: block;
        border-bottom: 1px solid $borderColor;
        text-align: left;
        font-size: $fontSize12;
        width: 100%;
    }
    .error {
        padding-bottom: $length8;
        color: $mainColor;
    }
    .mui-icon.mui-icon-eye {
        display: none;
    }
}

//确认铵钮
.btn-cell {
    margin: $length55 auto;
    width: 90%;
    .btn {
        background-color: $mainColor;
        color: $colorfff;
        line-height: $length40;
        text-align: center;
        border-radius: $length20;
        font-size: $fontSize16;
    }
    .btn.disabled {
        opacity: 0.5;
    }
}
