@import '../base/param';
@import '../sprite/sprite';
%icon-absolute {
    position: absolute;
    content: '';
    left: $length16 + ($iconHeight / 2);
    top: 50%;
    margin-top: -$iconHeight / 2;
    border-radius: $iconHeight / 2;
}

/////////////////////////////////////////////////////////////////////////////
//支付密码弹窗

.line-top-black{border-top: 1px solid $color333;}
.line-top-gray{border-top: 1px solid $borderColor;}
.line-left-gray{border-left: 1px solid $borderColor;}
.line-right-gray{border-right: 1px solid $borderColor;}
.line-bottom-gray{border-bottom: 1px solid $borderColor;}

.popup-pay-view {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: #fff;
    transform: translateY(100%);
    .p-p-input-box {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
    }
    .p-p-input-box.back {
        transform: translateX(-100%) !important;
        transition: 0.3s;
    }
    .p-p-input-box.active {
        transform: translateX(0px) !important;
        transition: 0.3s;
    }
    .p-p-input-box.next {
        transform: translateX(100%) !important;
        transition: 0.3s;
    }
    .p-p-input-box.second-input-box {
        transform: translateX(100%);
    }
}
.popup-pay-view.fullscreen {
    top: 0;
}
.popup-pay-view.fixheight {
    height: 18.5rem;
}

.p-p-keyboard-bottom.active,
.popup-pay-view.active {
    display: block;
    transform: translateY(0px);
    transition: 0.3s;
    //  transition-delay: 0.3s;
}

//头部
.p-p-header {
    height: $headerHeight;
    line-height: $headerHeight;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $borderColor;
    background-color: $headerBgColor;
    display: flex;
    font-size: $fontSize17;
    color: $headerFontColor;
}
.p-p-header-title {
    line-height: $headerHeight;
    width: 50%;
    position: absolute;
    top: 0;
    left: 25%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: normal;
    color: $headerFontColor;

}

//返回
.p-p-back {
    display: block;
    width: 25%;
    position: relative;
    left: 0;
    height: $headerHeight;
    background-size: 50%;
}
.p-p-back:before {
    content: '';
    display: block;
    @include headReturnIcon;
    position: absolute;
    top: 50%;
    left: $length16;
    margin-top: -$iconHeight / 2;
}

//提示标题
.p-p-tip {
    margin: $length24 $length16;
    text-align: center;
    color: $color666;
}

//六位密码输入格子
.p-p-pwd-box {

    margin: 0 $length32 $length16;
    display: flex;
    background-color: $colorfff;
    border: 1px solid $borderColor;
    .p-p-pwd-item {
        width: 100%;
        height: $length40;
        border-right: 1px solid $borderColor;
        &:last-Child {
            border-right: none;
        }
    }
    .p-p-pwd-item.active {
        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: $length10;
            height: $length10;
            background-color: $color000;
            top: 50%;
            margin-top: -$length10 / 2;
            left: 50%;
            margin-left: -$length10 / 2;
            border-radius: 50%;
        }
    }

}

//忘记密码了
.p-p-forget-pwd {
    display: none;
    margin: $length16 $length32;
    text-align: right;
    color: $color666;
    font-size: $fontSize12;
}

//错误提示
.p-p-error-tip {
    color: $mainColor;
    margin: $length16;
    text-align: center;
}

//密码输入键盘
.p-p-keyboard-bottom {

    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $colorfff;
    transform: translateY(100%);
    transition: 0.3s;
    .p-p-keyboard-box {
        display: flex;
        flex-flow: row wrap;
        .p-p-key-item {
            text-align: center;
            flex: 0 0 33.3333%;
            padding: $length10 0;
            //border: 1px solid $borderColor;
            font-size: $fontSize24;
            line-height: $fontSize24;
        }
        .p-p-key-item.active {
            background-color: $borderColor;
        }
        .p-p-key-back,
        .p-p-key-up {
            background-color: $contentBgcolor;
        }
        .p-p-key-del{
            background: $contentBgcolor url("../../img/icon/icon_delete.png") no-repeat center center;
            background-size: 1.25rem auto;
        }
        .p-p-key-back.active {
            background-color: $colorfff;
        }
    }

}
